@import '../../styles/variables';

.profile-post {
  .user-post {
    cursor: pointer;
  }

  .description-post {
    width: 100%;
    overflow: hidden;

    .comments {
      width: 100%;
      height: 220px;
      overflow-y: scroll;
      padding-right: 26px;
      box-sizing: content-box;
    }
  }

  .like {
    color: $color-like;
  }

  .add-comment {
    height: 30px;
    max-height: 80px;
    outline: 0;
    resize: none;
  }

  .button-comment {
    background-color: $color-alabaster;
    color: $color-danube;

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}
