@import "variables";

@mixin mobile-break() {
  @media screen and (max-width: $break-small) {
    .btn {
      font-size: 0.75rem;
    }

    .profile-name {
      font-size: 1rem;
    }

    .followers {
      font-size: 0.8rem;

      a {
        font-size: 0.8rem;
      }
    }
  }
}
@mixin flex_item($align,$justify){
  display: flex;
  align-items:  $align;
  justify-content:$justify;
}
@mixin adaptiveness($max_width,$width,$padding,$padding-left){
@media screen and (max-width: $max_width){
.navigation-input_search {
  width: $width;
}
.li_component {
  padding: $padding;
}
.navigation-logo
{
  .navigation-logo_jsgram {
    padding-left: $padding-left;
  }}}}
@mixin red_transition(){
    color: $dark_red;
    transition: 0.5s;
  }
@mixin input_text($padding-left,$color){
    padding-left:$padding-left ;
    font-weight: italic;
    color: $color;
  }
@mixin position($padding,$position,$height){
  padding:$padding;
  position:$position;
  height:$height;
}