@mixin mobile-break() {
  @media screen and (max-width: 393px) {
    .btn {
      font-size: 0.75rem;
    }

    .profile-name {
      font-size: 1rem;
    }

    .followers {
      font-size: 0.8rem;

      a {
        font-size: 0.8rem;
      }
    }
  }
}
