.page-footer {
  display: flex;
  justify-content: center;
}

.footer-link {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  flex-wrap: wrap;
}
