.header {
    flex: 1 0 auto;
}

.logo {
    width: 34px;
}

.login-soft a{
    font-weight: 700;
    font-size: 1rem;
}

.forgot-pass a{
    text-decoration: none;
}

.register-acc a{
    font-weight: 700;
}

.line span {
  display: inline-block;
  height: 1px;
  width: 150px;
  background: #DCDCDC;
  margin: 5px;
}

