@import "variables";

.header {
    flex: 1 0 auto;
}

.logo {
    width: 34px;
}

.login-soft {
    font-weight: 700;
    font-size: 1rem;
}

.register-acc a{
    font-weight: 700;
}

.line span {
  display: inline-block;
  height: 1px;
  width: 150px;
  background: $color-grey;
  margin: 5px;
}

