@import "variables";
@mixin flex_item($align,$justify){
  display: flex;
  align-items:  $align;
  justify-content:$justify;
}
@mixin adaptiveness($max_width,$width,$padding,$padding-left,$color){
@media screen and (max-width: $max_width){
.input_input {
  width: $width;
}
.li_component {
  padding: $padding;
}
.logo_component .jsgram {
    padding-left: $padding-left;
  }
  .navig{
      background-color:$color;
  }
}}
@mixin red_transition(){
    color: $dark_red;
    transition: 0.7s;
  }
@mixin input_text($padding-left,$color){
    padding-left:$padding-left ;
    font-weight: italic;
    color: $color;
  }
@mixin position($padding,$position,$height){
  padding:$padding;
  position:$position;
  height:$height;
}
.navig {
  @include position(0.5em,relative,60px);
  @include flex_item(center,space-around);
}
.logo_component {
  @include flex-item(center,space-around);
  @include position(0 0.3em 0 0 ,static,28px);
  .jsgram{
    font-family: "Georgian";
    font-weight: italic;
  }
}

ul {
  @include flex_item(normal,normal);
  padding-left:5%;
  li {
    display: inline;
    list-style: none;
  }
}

.center-component {
  @include position(0,relative,59%);
  @include flex_item(normal,normal);
  align-content:center;
}

.input_input{
  outline: 0;
  transition: 3s;
  &::placeholder{
    @include input_text(0em,$color-grey);
  }
  &[type=search]
  {
    @include input_text(1.33rem,$color-black);
 }
}

.center-component:hover {
  .find_icon {
    @include red_transition();
  }
  .input_input  {
    border-radius: 20px;
    transition: 3s;
  }
}
.find_icon {
  @include position(7px 4px 7px 7px,absolute,22px);
  color: $color-grey;
}
.compass_icon:hover,.heart_icon:hover,.user_icon:hover,.logo_component:hover {
  .inst_icon, .jsgram{
    @include red_transition();
}.center-component:hover {
  .find_icon {
    @include red_transition();
  }
}
@include red_transition();
}
@include adaptiveness($break-large,290px,15px,0.6em,white);
@include adaptiveness($break-medium,99%,10px,0.6em,white);
@include adaptiveness($break-small,90px,3px,0.1em,red);