@import "variables";
@import "mixin";
.navig {
  @include position(0.5em,relative,60px);
  min-height: 60px;
  @include flex_item(center,space-around);
  margin-top:20px;
}
.logo_component {
  @include flex-item(center,space-around);
  @include position(0 0.3em 0 0 ,static,28px);
  .jsgram{
    font-family: "Georgian";
    font-weight: italic;
    font-size: 26px;
    margin-bottom:0;
  }
}

.icons_list{
  @include flex_item(normal,normal);
  padding-left:1%;
  list-style: none;
  }

.center_part {
  @include position(0,relative,59%);
  @include flex_item(normal,normal);
  align-content:center;
}

.input_input{
  outline: 0;
  transition: 3s;
  &::placeholder{
    @include input_text(0em,$color-grey);
  }
  &[type=search]
  {
    @include input_text(1.33rem,$color-black);
 }
}

.center_part:hover {
  .find_icon {
    @include red_transition();
  }
  .input_input  {
    border-radius: 20px;
    transition: 3s;
  }
}
.find_icon {
  @include position(7px 4px 7px 7px,absolute,22px);
  color: $color-grey;
}
.li_component:hover,
.logo_component:hover {
    @include red_transition();
}
.center_part:hover {
  .find_icon {
    @include red_transition();
  }
} 
 .icons_list{
  margin-top: 0 ;
  margin-bottom: 0;
}
@include adaptiveness($break-large,290px,15px,0.6em);
@include adaptiveness($break-medium,99%,10px,0.6em);
@include adaptiveness($break-small,90px,3px,0.1em)