.navig {
  padding: 0.5em;
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logo_component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 0.3em 0 0;
  position: static;
  height: 28px;
}

.logo_component .jsgram {
  font-family: "Georgian";
  font-weight: italic;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  padding-left: 5%;
}

ul li {
  display: inline;
  list-style: none;
}

.center-component {
  padding: 0;
  position: relative;
  height: 59%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -ms-flex-line-pack: center;
      align-content: center;
}

.input_input {
  outline: 0;
  -webkit-transition: 3s;
  transition: 3s;
}

.input_input::-webkit-input-placeholder {
  padding-left: 0em;
  font-weight: italic;
  color: #dcdcdc;
}

.input_input:-ms-input-placeholder {
  padding-left: 0em;
  font-weight: italic;
  color: #dcdcdc;
}

.input_input::-ms-input-placeholder {
  padding-left: 0em;
  font-weight: italic;
  color: #dcdcdc;
}

.input_input::placeholder {
  padding-left: 0em;
  font-weight: italic;
  color: #dcdcdc;
}

.input_input[type=search] {
  padding-left: 1.33rem;
  font-weight: italic;
  color: #000;
}

.center-component:hover .find_icon {
  color: #c40e0e;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.center-component:hover .input_input {
  border-radius: 20px;
  -webkit-transition: 3s;
  transition: 3s;
}

.find_icon {
  padding: 7px 4px 7px 7px;
  position: absolute;
  height: 22px;
  color: #dcdcdc;
}

.compass_icon:hover, .heart_icon:hover, .user_icon:hover, .logo_component:hover {
  color: #c40e0e;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.compass_icon:hover .inst_icon, .compass_icon:hover .jsgram, .heart_icon:hover .inst_icon, .heart_icon:hover .jsgram, .user_icon:hover .inst_icon, .user_icon:hover .jsgram, .logo_component:hover .inst_icon, .logo_component:hover .jsgram {
  color: #c40e0e;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.compass_icon:hover .center-component:hover .find_icon, .heart_icon:hover .center-component:hover .find_icon, .user_icon:hover .center-component:hover .find_icon, .logo_component:hover .center-component:hover .find_icon {
  color: #c40e0e;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@media screen and (max-width: 1800px) {
  .input_input {
    width: 290px;
  }
  .li_component {
    padding: 15px;
  }
  .logo_component .jsgram {
    padding-left: 0.6em;
  }
}

@media screen and (max-width: 700px) {
  .input_input {
    width: 99%;
  }
  .li_component {
    padding: 10px;
  }
  .logo_component .jsgram {
    padding-left: 0.6em;
  }
}

@media screen and (max-width: 420px) {
  .input_input {
    width: 90px;
  }
  .li_component {
    padding: 3px;
  }
  .logo_component .jsgram {
    padding-left: 0.1em;
  }
}
/*# sourceMappingURL=Menu.css.map */