@import '../../styles/variables';

.profile {
  &-name {
    font-weight: 700;
    font-size: 1.3rem;
  }

  &-info {
    flex-direction: column;
  }

  .description {
    max-width: 320px;
  }   

  .following-button {
    background-color: $color-white;
    border-style: none;
  }
}

.following-button {
  &:focus {
    outline: 0;
  }
}


 
