@import '../../styles/variables';

.profile {
  &-name {
    font-weight: 700;
    font-size: 1.3rem;
  }

  &-info {
    flex-direction: column;
  }

  .description {
    max-width: 320px;
  }   

  .following-button {
    background-color: $color-white;
    border-style: none;
  }
}

.following-button {
  &:focus {
    outline: 0;
  }
}

.followers-modal {
  .modal-header {
    padding: 0.9em;
  } 

  h5,p {
    margin-bottom: 0;
  } 

  .modal-body {
    height: 24em;
    max-height: 100%;
    /* stylelint-disable */
    padding: 0 !important;
    overflow-y: auto;
  }

  .modal-content {
    border-radius: 1em !important;
  }
}

 
