style.
  p, a {
    color: #abadae !important; /* Required in Gmail */
  }
  h3, h5 {
    color: #565a5c;
  }
  .btn {
    background-color: #47a2ea;
    border-radius: 0.25em;
    color: #ffffff !important;
    display: block;
    font-weight: 700;
    margin-top: 1em;
    padding: 1em 6em;
    text-decoration: none;
    width: calc(100% - 12em);
  }
  .table {
    font-family: 'Nimbus Sans', sans-serif;
    width: 400px;
  }
  .plug {
    margin-top: 1em;
  }
  .plug *:not(:last-child) {
    line-height: 1.75;
    margin: 0 2em;
  }
  .plug__content {
    text-align: center;
  }
  .separator {
    background-color: #dbdbdb;
    height: 1px;
    margin: 2em 0;
    width: 400px;
  }
  .separator--sml {
    background-color: #dbdbdb;
    height: 1px;
    margin: 1em 0 0;
    width: 400px;
  }
  .header__logo {
    width: 100px;
  }
  .userpic--small {
    border-radius: 50%;
    width: 30px;
  }
  .userpic--big {
    border: 1px solid #797979;
    border-radius: 50%;
    width: 90px;
  }
  .userpic--left {
    text-align: left;
  }
  .userpic--right {
    text-align: right;
  }
  .post__container {
    display: block;
    overflow: hidden;
    width: 130px;
  }
  .post__img {
    display: block;
    height: 130px;
  }
  .user__container {
    text-align: center;
  }
  .user__container * {
    font-size: 12px;
    margin: 0.25em 0;
    text-decoration: none;
  }
  .footer__disclaimer {
    color: black;
    font-size: 0.75em;
  }
  .footer__disclaimer--cnt {
    color: black;
    font-size: 0.75em;
    text-align: center;
  }
  .content :first-child {
    margin-top: 2em;
    text-align: center;
  }
