doctype html
html
  head
    title JSgram - password change confirmation
    include _style.pug

  body
    //- header
    table.table
      tr
        td: a(href=`${baseUrl}/`): img.header__logo(src='https://is.gd/YJvPQR' alt='JSgram Logo')

    table.table
      tr: td.plug__content
        h3 Hi #{user.username}
      tr: td
        p We got a request to reset your JSgram password.
        a(href=`${backendUrl}/forgot-password/${token}`) Reset Password
      tr: td
        p If you ignore this message, your password will not be changed.
        p If you didn't request a password reset, #[a(href="mailto:jsgram.lv@gmail.com") let us know.]

    //- footer
