DB_PATH='mongodb://localhost:27017/jsgram'
DEV_PORT='8080'

BACK_PATH = 'http://localhost:8080'
FRONT_PATH = 'http://localhost:3000'

STATIC_PATH='../client/build'
SECRET_KEY='hugehugehugesecretphase'

EMAIL='jsgramsoftserve@gmail.com'
EMAIL_PASS='[R3Jr<w2'<2d7"[p'

GOOGLE_CLIENT_ID = '39496207088-nhdu7iven5kkfv3v7ks1pq49rbcd59rh.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET = 'Xtktwt99ZXrL8rIVt23aStU2'
GOOGLE_CALLBACK_URL = 'http://localhost:8080/auth/google/callback'

EXPIRES='3600'
