@import '../../styles/variables';

.profile-post {
  .post-photo {
    position: relative;
    width: 100%;
  }

  .one-profile-photo {
    cursor: pointer;
  }

  .like {
    color: $color-like;
  }

  .text-description {
    word-wrap: break-word;
  }

  .add-comment {
    outline: 0;
    resize: none;
  }

  .button-comment {
    color: $color-danube;
    background-color: $color-alabaster;

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}

.change-description {
  textarea {
    resize: none;
  }
}
