@import '../../styles/variables';

.profile-post {
  .post-photo {
    width: 100%;
    position: relative;

    &:hover .post-icon {
      display: block;
    }
  }

  .show-photo-like {
    cursor: pointer;
    opacity: 1;
    transition-duration: 0.5s;

    &:hover {
      opacity: 0.9;
    }
  }

  .post-icon {
    transition-duration: 0.5s;
    position: absolute;
    top: 40%;
    left: 45%;
    display: none;
    font-size: 1.2rem;
    color: $color-black;
    font-weight: 600;
  }

  .like {
    color: $color-like;
  }

  .comments {
    height: 350px;
  }

  .add-comment {
    height: 30px;
    max-height: 80px;
    outline: 0;
    resize: none;
  }

  .button-comment {
    background-color: $color-alabaster;
    color: $color-danube;

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}

@media screen and (max-width: $break-md) {
  .profile-post {
    .comments {
      height: 130px;
    }
  }
}

