@import './variables';

.footer-link {
  a {
    font-size: 1rem;

    span {
      font-size: 1rem;
    }
  }

  .footer {
    flex: 0 0 auto;
  }
}

.page-footer {
  display: flex;
  justify-content: center;
}

.list-unstyled {
  display: flex;
}

