@import './variables';

.input-feedback {
  color: $color-red;
  font-size: 14px;
  font-weight: 500;
}

.or-devider {
  color: $color-grey-black;
  text-align: center;

  span {
    display: inline-block;
    height: 1px;
    background: $grey-grey;
    width: 34%;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
}