@import '../../styles/variables';

.burger-menu {
  position: relative;

  .dots {
    font-weight: bold;
    font-size: 30px;
    line-height: 3px;
    cursor: default;
    @media screen and (min-width: $break-md) {
      margin-top: 0;
      margin-left: 2.7em;
    }
  }

  .navig {
    position: absolute;
    left: -300vw;
    width: 120px;
    height: 79px;
    background-color: $color-white;
    border: 0.5px solid $color-grey;
    border-radius: 0.3em;
  }

  li {
    &:first-of-type {
      border-bottom: 1px solid $aqua-haze;
    }
  }


  .menu-link {
    margin: auto;
    color: $color-black;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    background-color: $color-white;
    border: 0;
    cursor: default;

    &:hover {
      font-weight: bold;
    }
  }

  .show-menu {
    top: 2.8em;
    left: -1.4em;
    @media screen and (max-width: $break-md) {
      top: 2.8em;
      left: -0.8em;
    }
  }
}





