@import '../../styles/variables';

.edit-post {
  &:hover {
    font-weight: 700;
  }

  &:active {
    color: $color-black !important;
    background-color: $color-white !important;
  }

  &:focus {
    outline: none;
  }
}

.delete-post {
  &:hover {
    font-weight: 700;
  }

  &:active {
    color: $color-black !important;
    background-color: $color-white !important;
  }

  &:focus {
    outline: none;
  }
}