@import '../../styles/variables';

.edit-content {
  padding: 20px 0 10px 0;
  border: 1px solid $color-snow;
  box-shadow: 0px 0px 8px -7px $color-dove-gray;
}


.profile-usertitle-name {
  color: $color-waikawa-gray;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-title {
  text-transform: uppercase;
  color: $color-danube;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.nav-item {
  border-bottom: 1px solid $aqua-haze;
  a {
      color: $color-gull-gray;
      font-size: 14px;
      font-weight: 500;
      i {
        margin-right: 8px;
        font-size: 14px;
      }
      &:hover {
        background-color: $color-light-blue;
        color: $color-danube;
      }
  }
  .active {
    background-color: $color-light-blue;
    border-left: 2px solid $dark-red;
    padding-left: 6px !important;
    color: $dark-red;
    &:hover {
      color: $dark-red;
    }
  }
  &:last-child {
    border-bottom: none;
  }
}
