.header {
    flex: 1 0 auto;
}

.picture {
    height: 110px;
}

.logo {
    width: 34px;
}

.login-soft a{
    font-weight: 700;
    font-size: 18px;
}

.forgot-pass a{
    text-decoration: none;
}

.register-acc a{
    font-weight: 700;
}

.line span {
  display: inline-block;
  height: 1px;
  width: 150px;
  background: gainsboro;
  margin: 5px;
}

