$color-red: #ff0000;
$color-grey-black: #525656;
$color-grey: #dcdcdc;
$color-grey-dark: #aaaaaa;
$color-snow: #f4f4f4;
$color-black: #000000;
$dark-red: #c40e0e;
$color-button: #dc3545;
$break-small: 420px;
$break-medium: 768px;
