$color-red: #ff0000;
$color-grey-black: #525656;
$color-grey: #dcdcdc;
$color-grey-dark: #aaaaaa;
$empty-photo: #eeeeee;
$color-snow: #f4f4f4;
$color-black: #000000;
$dark-red: #c40e0e;
$color-button: #dc3545;
$color-silver: #bdbdbd;
$color-alabaster: #fafafa;
$color-gallery: #eeeeee;
$break-small: 420px;
$break-medium: 768px;
$aqua-haze: #f0f4f7;
$color-gull-gray: #93a3b5;
$color-light-blue: #fafcfd;
$color-danube: #5b9bd1;
$color-waikawa-gray: #5a7391;
$color-dove-gray: #737373;
